@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}
body {
  margin: 0;
font-family: 'Montserrat', sans-serif;
}

.main-page {
  display: flex;
  flex-direction: row;
}
.PhoneInput {
  width: 100%;
  margin-top: 34px;
  margin-left: 10px;
  border: transparent;
  border-bottom: 1px solid #D5D9DC;
  line-height: 18px;
  font-size: 18px;
  outline: none;
  padding: 6px 0 6px 10px;
}
.PhoneInput:hover{
  border-color: #2696E8;
}
.PhoneInputInput {
  border: none;
}


.PhoneInputInput:focus {
  outline: none;

}
.input-range__slider {
  background: #35A0EE !important;
  border-color: #35A0EE !important;
  border-radius: 0 !important;
}
.input-range__track--active {
  background: #35A0EE !important;
}
.opacity {
  opacity: 0.5;
}